<div class="site">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <h2>Forgot your password?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions d-flex">
            <%= render "devise/shared/links" %>
            <%= f.button :submit, "Send me reset password instructions", class: "btn-primary m-2" %>
          </div>
        <% end %>


      </div>
    </div>

  </div>
</div>
