<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top shadow p-2 bg-white rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "Studio-nav.png" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if current_user %>
            <li class="nav-item active"><% if policy(Studio).create? %>
              <%= link_to "New studio", new_studio_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item active">
              <a><%= link_to "My Dashboard", dashboard_path, class: "nav-link"%></a>
            </li>
            <li class="nav-item active">
              <a><%= link_to "Studios", studios_path, class: "nav-link"%></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">*Messages*</a>
            </li>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://pbs.twimg.com/profile_images/1180100303728844801/MJJRt0D3_400x400.jpg"/>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a><%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", method: :delete %></a>
            </li>
          <% else %>
            <li>
              <%= link_to "Log in", new_session_path(resource_name), class: "btn btn-outline-primary m-1" %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_session_path, class: "btn btn-outline-primary m-1" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
