<div class="container pt-3">
  <div class="d-flex justify-content-between m-2 col-11">
    <div class="container text-center">
      <% if params.dig(:search, :query).present? %>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "All Studios", studios_path %></li>
            <li class="breadcrumb-item active" aria-current="page">
              Studios that match
              <em class= "text-muted"><%= params.dig(:search, :query) %></em>
            </li>
          </ol>
        </nav>
      <% else %>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              All Studios
            </li>
          </ol>
        </nav>
      <% end %>
      <nav class="navbar navbar-light d-flex justify-content-center ">
        <%= simple_form_for :search, url: studios_path, method: :get do |f| %>
          <div class="d-flex">
            <%= f.input :query, label: false, placeholder: "Search..." %>
            <%= f.button :button, class: "btn-outline-secondary" do %>
              <%= image_tag("search_icon.png", width: 20, height: 20) %>
            <% end %>

          </div>
        <% end %>
      </nav>
    </div>
  </div>
  <div class="list-studios row">
    <% @studios.each do |studio| %>
      <div class="col-6">
        <%= render 'studios/card', studio: studio %>
      </div>
    <% end %>
  </div>
</div>
