<div class="container pt-3">
  <div class="d-flex justify-content-between m-2 col-11">
    <div class="container d-flex justify-content-between m-1">
      <h1>List of Studios</h1>
      <nav class="navbar navbar-light ">
        <%= simple_form_for :search, url: studios_path, method: :get do |f| %>
          <div class="d-flex">
            <%= f.input :query, label: false, placeholder: "Search" %>
            <%= f.button :button, class: "btn-outline-secondary" do %>
              <%= image_tag("search_icon.png", width: 20, height: 20) %>
            <% end %>
          </div>
        <% end %>
      </nav>
    </div>
  </div>
  <div class="list-studios row">
    <% @studios.each do |studio| %>
      <div class="col-6">
        <%= render 'studios/card', studio: studio %>
      </div>
    <% end %>
  </div>
</div>
