<div class="site">
  <div class="container-sm">
    <div class="d-flex flex-column m-5">
      <h1 class="fw-bold">Help amazing artists find your studio</h1>
      <hr>
      <%= simple_form_for @studio do |f| %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.label :address %>
          <%= f.input :address,
                      as: :hidden,
                      input_html: { data: { geocoder_target: "address" } },
                      wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
          <%= f.input :details, placeholder:"The better the description, the more artists will come..." %>
          <div class="m-3"><%= f.input :photo, as: :file %></div>
        </div>
        <div class="form-actions">
          <%= link_to "Not really", :back, class:"btn btn-outline-warning" %>
          <%= f.button :submit, class:"btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
