<%# banner %>
<div class="container">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @studio.photo.attached? ? cl_image_path(@studio.photo.key) : asset_path('studio-default.jpg') %>)">
  </div>
</div>
<div class= "container pt-3 d-flex">
  <div class="w-50 p-3">
    <h1 class="fw-bold"><%=@studio.name.capitalize%></h1>
    <h5 class="text-muted "> Welcom to <%= @studio.owner.first_name%>'studio</h5>
    <h4 class="fw-bold text-decoration-underline">Studio's details:</h4>
    <p> <%=@studio.details.nil? ? "This studio is located at #{@studio.address}" : @studio.details %></p>
  </div>
  <div class="w-50 p-3" >
    <h2>Book Now</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5 ">
      <h1>Booking</h1>
      <h3>Set the date</h3>
      <%= simple_form_for [@studio, @booking] do |f| %>
        <%= f.input :start_on, html5: true, input_html: { data: { controller: "pick-day" } } %>
        <%= f.input :end_on, html5: true, input_html: { data: { controller: "pick-day" } } %>
        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
