<%# banner %>
<div class="container">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @studio.photo.attached? ? cl_image_path(@studio.photo.key) : asset_path('studio-default.jpg') %>)">
  </div>
</div>

<% if @studio.owner == current_user %>
  <div class= "container pt-3 d-flex">
    <div class="w-50 p-3">
      <h1 class="fw-bold"><%=@studio.name.capitalize%></h1>
      <h5 class="text-muted "> Welcome to <%= @studio.owner.first_name%>'s studio</h5>
      <hr>
      <p> <%= @studio.details %> </p>
    </div>
    <div class="w-50 p-3" >
      <h1 class="fw-bold">Edit my Studio</h1>
      <h3>Schedule:</h3>
      <% @studio.bookings.each do |booking| %>
        <%= booking.customer.first_name %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class= "container pt-3 d-flex">
    <div class="w-50 p-3">
      <h1 class="fw-bold"><%=@studio.name.capitalize%></h1>
      <h5 class="text-muted "> Welcome to <%= @studio.owner.first_name%>'s studio</h5>
      <hr>
      <p> <%= @studio.details %> </p>
    </div>
    <div class="w-50 p-3" >
      <h1 class="fw-bold">Book Now</h1>
      <h3>Select your dates</h3>
      <%= simple_form_for [@studio, @booking] do |f| %>
        <%= f.input :start_on, html5: true, input_html: { data: { controller: "pick-day" } } %>
        <%= f.input :end_on, html5: true, input_html: { data: { controller: "pick-day" } } %>
        <%= f.button :submit, class: "btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
<% end %>
