<%# banner %>
<div class="container">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @studio.photo.attached? ? cl_image_path(@studio.photo.key) : asset_path('studio-default.jpg') %>)">
  </div>
</div>
<div class= "container pt-3">
  <%= render "studios/show/breadcrums"  %>
</div>
<div class= "container pt-3 d-flex">
  <div class="w-50 p-3">
    <%= render "studios/show/studio_info"%>
  </div>
  <div class="w-50 p-3" >
    <% if current_user&.owns?(@studio) %>
      <%= render "studios/show/visitors" %>
    <% else %>
      <%= render "studios/show/book_form" %>
    <% end %>
  </div>
  <div style="width: 100%; height: 400px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
