<!DOCTYPE html>
<html>
  <head>
    <title>Studio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>




  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
    <footer>
      <div class="footer">
        <div class="footer-links">
          <a href="https://www.instagram.com/musicstudios/?hl=es" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/laplantastudio" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/input_studio" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="footer-copyright">
          This page was made by DEC students of Le Wagon
          <a href="https://www.lewagon.com/" target="_blank">
            <img class="leWagonIcon" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
          </a>
        </div>
      </div>
    </footer>
</html>
